body {
  background: rgb(156, 179, 187);
}
.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todolist {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid black;
  padding-top: 20px;
}
.todo > input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  font-size: 20px;
  outline: none;
  text-transform: uppercase;
  width: 300px;
}
.todo > button {
  margin: 10px 30px;
  width: 200px;
}
.todo > button:hover {
  background-color: rgb(8, 255, 181);
}
button {
  width: auto;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 5px;
}
button:hover {
  background-color: rgb(241, 56, 56);
  opacity: 70%;
  outline: none;
}
input:valid {
  border-color: hsl(0, 76%, 50%);
}

input:not(:placeholder-shown) {
  border-color: green;
}
